<%- include ./partials/admin %>

<div class="container">
     <div class="alert alert-success" role="alert"><%= typeof messages !== "undefined" && typeof messages.info !== "undefined" ? messages.info : "" %></div>
    <form action="/create" method="post">
        <fieldset>
            <label for="">Name</label>
            <input type="text" name="name" class="form-control">
        </fieldset>
        <fieldset>
            <label for="">Description</label>
            <textarea name="description" id="" class="form-control" rows="10"></textarea>
        </fieldset>
        <fieldset>
            <label for="">Price</label>
            <input type="text" name="price" class="form-control">
        </fieldset>
        <fieldset>
            <label for="">Image</label>
            <input type="text" name="image" class="form-control">
        </fieldset>
        <button type="submit" class="btn btn-primary save-btn">Save</button>
    </form>
</div>